* {
    font-size: 14px;
}

body {
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    line-height: 20px;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 400;
    min-width: 425px;
}

.container-fluid {
    padding: 0;
    margin: 0 !important;
}

.row {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.part {
    width: 100%;
    padding: 45px 0;
    position: relative;
}

.row {
    width: 100%
}

.container {
    position: relative;
}


#top-navbar {
    background-color: #e7731f;
}

#top-navbar {
    padding: 20px 3%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-navbar .logo {
}

#top-navbar .textlogo {
    width: 65%;
    color: #fff;
}

.textlogo h3 {
    color: #fff;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

.textlogo p {
    font-size: 13px;
    margin-bottom: 0;
}

.textlogo p {
    margin-bottom: 0;
}


.textlogo p {
    margin-bottom: 0;
}

.lisgr {
    width: 45%;
    margin: 0 25%;
    margin: auto !important;
}

.lisgr ul {
    list-style-type: none;
}

.lisgr li:first-child {
    margin-top: 0;
}

.lisgr li img.icongr {
    position: absolute;
    left: 0;
    top: 5px;
}
.lisgr ul li div {
    display: inline-block;
}

.grwr {
    text-transform: uppercase;
}

.imgbann {
    position: absolute;
    top: 256px;
    right: 273px;
    width: 445px;
}

.lisgr li {
    width: 100%;
    position: relative;
    padding: 15px 0;
    padding-left: 60px;
    margin: 0;
    color: #ef4e24;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dotted #ef4e24;
}

.ctgr {
    background: #fff;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #f05a22;
    font-weight: bold;
}

div.form-booking {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #fff;
    background: #f7f7f8;
    width: 295px;
    text-align: center;
}

.formct {
    padding: 10px 20px;
}

.formhead {
    background: #e66a1f;
    padding: 20px;
}

.formct .center {
    margin-bottom: 10px;
}

.wrap-flex {
    display: flex;
}

.formct .right {
    font-size: 13px;
    color: #f16522;
    font-weight: bold;
}

.right {
    text-align: right;
}

.btnform {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border: none;
    background-color: #f79b1b;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 7px 20px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btnform:hover {
    opacity: .8;
}

.formct input {
    width: 100%;
    background: #e2e3e4;
    border: none;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

#banner {
    background: url("http://via.placeholder.com/1360x500") no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;
    padding-bottom: 100px;
}

.containersub {
    margin: 0 auto;
    position: relative;
    max-width: 90%;
}

.sellcter {
    position: relative;
    padding: 0 50px 0 310px;
    height: 276px;
}

.imgse {
    position: absolute;
    left: 0;
    top: 0;
}

.sellgr {
    background-color: rgba(255,241,0,.8);
    height: 276px;
    color: #ec1c24;
    padding: 50px 50px 50px 100px;
}

.sellgr ul li {
    padding: 5px 0 5px 50px;
    background: url(https://cumargold.vn/landing/img/xicon5.png.pagespeed.ic.LEJiuhCp7_.webp) no-repeat;
}


.center {
    text-align: center;
}

.title {
    background: #ef4e23;
    display: inline-block;
    padding: 15px 50px;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    font-size: 30px;
}


#wrap-footer {
    height: 50px;
    background: #f1801f;
    width: 100%;
    display: flex;
    align-items: center;
}

#part-1 {
    width: 85%;
    padding: 45px 0;
    margin: 0 auto;
    position: relative;
}

#part-1 h2 {
    color: #f05a22;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

#part-1 .ttie {
    width: 80%;
    margin: 0 auto;
    background: #f05a22;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    position: relative;
}

#part-1 .ttie:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(240,90,34,0);
    border-top-color: #f05a22;
    border-width: 10px;
    margin-left: -10px;
}

#part-1 .tioli {
    font-weight: bold;
    width: 40%;
    margin-top: 30px;
}

#part-1 .tioli li {
    border: 1px dotted #f05a22;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

#part-1 .arrow {
    width: 15px;
    height: 15px;;
    position: absolute;
    top: 35%;
    right: -9px;
    z-index:-1;
    transform: translate(-50%, -50%);
    border-top: 1px solid #f05a22; 
    border-right: 1px solid #f05a22; 
    color: #fff;
    -webkit-transform:rotate(45deg);
}

#part-1 img.dgo {
    position: absolute;
    z-index: -1;
    left: 42%;
    top: 200px;
    width: 300px;
}

#part-1 .pc {
    display: block;
}

#part-1 .form-booking {
    top: 50px;
}

#part-2 {
    padding: 0 5%;    
}

#part-3 {
    padding: 0 5%;    
}

#part-4 {
    width: 85%;
    padding: 45px 0;
    margin: 0 auto;
    position: relative;
}

#part-4 .form-booking, #part-7 .form-booking {
    width: 100%;
    position: relative;
}

#part-5 {
    padding-top: 0;
    background-color: rgb(242, 111, 38);
}

.part-5-head {
    text-align: center;
    padding: 45px 0;
}

.part-5-head h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 0 0 40px;
}

.part-5-content {
    
    text-align: center;
    color: #4d4d4f;
    font-weight: bold;
}

.part-5-content p {
    margin-top: 14px;
    margin-bottom: 20px;
}

.part-5-content .row {
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    justify-content: space-around;
    margin: 0 !important;
}

.part-5-content .row .part-5-content-div {
    width: 24%;
    color: #fff;
}


#part-6 {
    padding-top: 45px;
    padding-bottom: 45px;
    background: #a97254;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
}

#part-6 h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#part-6 .col-md-3 {
    text-align: center;
    margin-bottom: 10px;
}

#part-6 .col-md-3 img {
    background-color: #DE771C;
}
#part-6 .col-md-3 p {
    margin-top: 14px;
    margin-bottom: 0;
    font-weight: bold;
}


.goldgra {
    width: 85%;
    background: #ea841a;
    padding: 20px;
    color: #fff;
}

.goldg h4 {
    color: #fff;
    margin-top: 10px;
}

.hg1 {
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.goff {
    padding: 10px 0 0;
    border-top: 1px solid #fff;
    margin-top: 10px;
}

#part-7 {
    background: #e8eaf2;
}

#part-7 h2 {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}

#part-7 .bottom-nav {
    margin-top: 70px;
}

#part-7 .row {
    margin-top: 20px;
}

#part-8 {
    padding: 45px 5%;
    background-color: #f26f26;
}

.bottom-nav {
    padding: 0 5%;
}

#part-8 .gallery {
    background: #fff;
}

#part-8 .gallery .col-md-3 {
    padding: 2px;
}

@media only screen and (max-width: 767px) {

    .hidden-xs {
        display: none;
    }

    #part-1 .tioli {
        width: 100%;
        margin: auto;
    }
    #part-1 img.dgo {
        left: 0;
    }

    #top-navbar {
        display: block;
    }

    #top-navbar .logo  {
        width: 100%;
        text-align: center;
    }
    
    #top-navbar .logo img {
        width: 40%;
    }

    #top-navbar .textlogo {
        width: 100%;
        text-align: center;
        color: #fff;
    }
    
    .textlogo h3 {
        font-size: 20px;
    }

	.textlogo p {
        font-size: 10px;
    }
    
    .lisgr {
        width: 80%;
    }

    .form-booking {
        display: none;
    }

    #button-responsive-form-booking {
        display: block !important;
    }
    #part-2 .loggor img.logore {
        margin: 0;
        float: unset;
    }
    #part-2 .loggor h2 {
        width: 100%;
        font-size: 24px;
    }

    .part-5-head span {
        font-size: 25px;
        margin-top: 20px;
    }

    .part-5-content p {
        font-size: 10px;
        line-height: 12px;
    }
    #part-3 {
        padding-right: 10%;
        padding-left: 10%;
    }

    #part-3 .row .col-md-4 {
        margin-bottom: 20px;
    }

    #part-6 .part .col-md-4, #part-6 .part .col-md-4 img {
        width: 100% !important;
    }

    #part-6 .part .col-md-8, #part-6 .part .col-md-8 img {
        width: 100% !important;
    }

    #part-7 h2 {
        font-size: 25px;
    }
    
}

#button-responsive-form-booking {
    display: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    border: 1px solid #fff;
    color: #fff;
    background-color: #f05a22;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 700;
    z-index: 1;
}

#responsive-form-booking {
    display: none;
    position: fixed;
    top: 3%;
}

#button-responsive-form-booking:focus {
    background-color: rgb(71, 216, 114);
    outline: none;
}