
#part-1 {
    padding: 15px 0;
}

.text-gray {
    color: #585858;
}

#nav-content ul {
    margin: 0;
    padding: 0;
}

.lastest-news {
    border-right: 1px solid #ccc;
}

.news {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}

.news:first-child {
    padding-top: 0;
}

.news:last-child {
    border: none;
}

.news-part {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.news-part .heading {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0;
    text-transform: uppercase;
    color: #f37020;
}

.list-news {
    border-bottom: 1px solid #ccc;
}

.list-news .news {
    border-bottom: none;
    margin-top: 20px;
}

.news-description .news-title {
    margin-bottom: 10px; font-size: 25px; line-height: 30px;
    font-weight: 400;
}

.datePublished-interactionCount {
    margin-bottom: 10px;  color: gray; font-size: 11px;
}

.wrap-news-detail img {
    margin: 20px 0;
}