
#part-1 {
    padding: 15px 0;
}

.text-gray {
    color: #585858;
}

#nav-content ul {
    margin: 0;
    padding: 0;
}

#nav-content ul li {
    display: inline;
}

.li-description .pictures {
    display: flex;
    justify-content: center;
}

#product-info ul {
    padding: 0;
}

#research ol { 
    counter-reset: item;
    padding: 0
}
#research ol li { 
    display: block 
}
#research ol li:before { 
    content: counters(item, ".") ". "; 
    counter-increment: item;
}


#wrap-footer .social-network ul {
    text-align: center;
}

#advertisement {
    cursor: pointer;
}

#expert-opinions {
    cursor: pointer;
}

.heading-1 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #f37021;
}

.list-sub-heading li {
    color: #ff8c00;
    font-size: 14px;
    margin: 10px 0;
}